.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.modalbg {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background-color: #cccece;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 32px;
}

.close {
  cursor: pointer;
  margin: 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover {
  opacity: 0.6;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  outline: none;
  text-align: center;
  width: 288px;
}

.col1, .col2, .col3 {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 0;
  width: 72px;
}

.col1:hover, .col2:hover, .col3:hover, button:hover {
  background-color: darkgray;
  cursor: pointer;
}

.col1:active, .col2:active, .col3:active, button:active {
  background-color: #222;
  color: white;
}

.cell {
  margin: 4px;
}

.footer {
  margin-top: 32px;
  text-align: center;
}

.result {
  color: white;
  font-size: 24px;
}

button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  height: 24px;
  outline: none;
  margin: 12px 24px;
  width: 88px;
}
